.anounce{

    padding: 30px 10px;
}
.anounce button{
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    background: #24253C;
    cursor: pointer;
}
.anounce-create{
    padding: 10px 10px;
}
.anounce-create button{
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    background: #4d4f4d;
    cursor: pointer;
}