
  
.container{
    /* background-color: blanchedalmond; */
    max-width: 90%;
    margin: 20px auto;
    /* border-radius: 1.2rem; */
    background:#24252A;
    height: 80vh;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 5px;
    

}
.assignment-container{
    /* background:#16ac2f; */
    color: blanchedalmond;
    /* max-width: 90%; */
   
    overflow: hidden;
    overflow-y: scroll;
    /* border-radius: 1.2rem; */
}
.assignment{
    /* background: #24252A; */
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}
.assignment .box{
    width: 30%;
    position: relative;
    background:rgba(0,136,169,0.8);
    margin-top: 10px;
    padding: 20px 20px 30px;
    box-shadow: 0 5px 5px;
    
    
}
/* .assignment .box ::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

} */




.assignment p{
    font-size: small;
}
.announcement-con{

    padding: 15px;

}
.assignment-btn{
    background: green;
    padding: 8px 15px;
    border-radius: 10%;
    border-color: black;
    cursor: pointer;
    
}
.btn-continer{
    background: black;
    padding-top: 10px;
}